:root {
    --solarized-base03:  #002b36;
    --solarized-base02:  #073642;
    --solarized-base01:  #586e75;
    --solarized-base00:  #657b83;
    --solarized-base0:   #839496;
    --solarized-base1:   #93a1a1;
    --solarized-base2:   #eee8d5;
    --solarized-base3:   #fdf6e3;
    --solarized-yellow:  #b58900;
    --solarized-orange:  #cb4b16;
    --solarized-red:     #dc322f;
    --solarized-magenta: #d33682;
    --solarized-violet:  #6c71c4;
    --solarized-blue:    #268bd2;
    --solarized-cyan:    #2aa198;
    --solarized-green:   #859900;
}

body {
    font-family: System UI;
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #fff;
}

img {
    max-width: 100%;
    display: block;
}

main {
    max-width: calc(100% - 5rem);
    margin-inline: auto;
}

.slide {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2rem;
}

.slide main {
    flex-grow: 1;
}

.slide h1 {
    font-size: 4rem;
    line-height: 1.33;
    margin: 1rem;
}

.slide li {
    text-align: left;
}

.page p {
    font-size: 1.33rem;
}


.btn {
    display: inline-block;
    padding: 0.5rem 0.75rem;
    margin-top: 1rem; /* just temporary? to put it a bit lower. */
    background: #efe;
    color: #323;
    font-size: 1.1rem;
    text-decoration: none;
    transition: all 0.3s ease-in;
}
.btn:hover {
    background: #323;
    color: #efe;
}

#slide01 {
    background: var(--solarized-blue);
}
#slide02 {
    background: var(--solarized-cyan);
}
#slide03 {
    background: var(--solarized-green);
}
#slide04 {
    background: var(--solarized-violet);
}
